<div id=<%= dom_id(discussion) %>>
  <h2><%= link_to discussion.name, discussion %></h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.pinned %> <br>
  Posted in: <%= discussion.category_name %> | Post: <%= discussion.posts.count %>
  </p>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %> |
    <%= link_to "Delete" , discussion, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
